NEXT_PUBLIC_SITE_URL=https://www.smokeshowband.com
NEXT_PUBLIC_SANITY_PROJECT_ID=your_project_id
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_READ_TOKEN=your_viewer_token
STUDIO_ACCESS_PASSWORD=replace_with_a_shared_password
